
h1 {
    color: #ffffff;
    text-align: center;
}
p{
    color: #ffffff;
    text-align: center;
    font-size: small;
     
    position: absolute;
    left:42%;
    top: 7%;
    
}
h3 {
    position: absolute;
    left: 100px;
    top: 150px;
  }
  
.header{
    color: #0f0f0f;
    text-align: center;

}
.content{
    color:#142bff;
    display:flex;
    flex-direction:row;
    
    align-content: center;
    text-align: center;
    font-size: x-large;
    width:370px  ;
    height:370px ;
    
    padding-bottom: 7%;
    margin-left: 3%;
}
.games{
    color: #14a9ff;
    display:flex;
    flex-direction: column;
    padding-right: 30px;
    opacity:1;
  
    

}
img{
    width:370px  ;
    height:370px;
    
      
        filter : blur(2.5px);

}
h5{
    color:rgb(52, 20, 255);
    position: absolute;
    top:0.5%;
    left:1%;
    font-size:large;
}
h2{
    font-size: x-large;
}

.games:hover img{
   
    filter : blur(0px);
    margin-top:-3% ;

}
h6{
    font-size:xx-small
}

