
h1 {
    color: #056d0b;
    text-align: center;
}
p{
    color: #0c040c;
    text-align: center;
    font-size: xx-large;
     
    position: absolute;
    left: 40%;
    top: 40%;
    
}
h3 {
    position: absolute;
    left: 100px;
    top: 150px;
  }
  
.header{
    color: #0f0f0f;
    text-align: center;

}
.content{
    color:#142bff;
    display:flex;
    flex-direction:row;
    
    align-content: center;
    text-align: center;
    font-size: x-large;
    width:370px  ;
    height:370px ;
    
    padding-bottom: 30px;
    margin-left: 3%;
}
.games{
    color: #5a14ff;
    display:flex;
    flex-direction: column;
    padding-right: 30px;
    

}
img{
    width:370px  ;
    height:370px
}
h5{
    position: absolute;
    top:0.5%;
    left:1%;
    font-size:large;
}

